* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-design {
    height: 100vh;
    width: 100%;
    background-image: url(../images/banner/banner3.png);
    background-size: contain;
    position: relative;

}

.banner-description {
    position: absolute;
    top: 180px;
    right: 230px;
}

.banner-design h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #FFFFFF;
}

.banner-design p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.banner-btn {
    padding: 15px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border-radius: 5px;
    border-style: none;
    position: fixed;
    right: 230px;
}