* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header section start */
.banner-design {
    height: 100vh;
    width: 100%;
    background-image: url(../images/banner/banner3.png);
    background-size: contain;
    /* position: relative; */

}

.banner-description {
    position: absolute;
    top: 180px;
    right: 230px;
}

.banner-design h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #FFFFFF;
}

.banner-design p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.banner-btn {
    padding: 15px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border-radius: 5px;
    border-style: none;
    position: absolute;
    left: 250px;
}

/* header section end */
section {
    margin-bottom: 100px;
}

/* previous year section start */
.previous-yr-section {
    /* border: 2px solid red; */
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous-yr-img-description {
    width: 50%;
    padding: 20px;
}

.previous-yr-img-description>img {
    width: 100%;

}

.previous-yr-text-description {
    width: 50%;
    /* border: 1px solid red; */
    padding: 30px;
}

.previous-yr-text-description h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
}

.previous-yr-text-description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

/* previous year section end */